src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

	<flow name="helloFlow" doc:id="d8ff42d5-02e0-412f-b3b0-e1ba7b2a4d3b" >
		<http:listener doc:name="GET /hello" doc:id="16d2b054-c308-4abb-9429-9ea9ef2935f5" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<ee:repeatable-file-store-stream inMemorySize="1024" />
			<http:response reasonPhrase="Success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subflow" doc:id="580fed9a-7802-42a1-b468-55536d2b814f" name="subflow" />
		<vm:publish queueName="goodbye" doc:name="VM goodbye" doc:id="5aa20a1e-8a54-4ee5-a0e8-dcdfef7582f1" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="payload" doc:id="6d572ccc-80c8-40e8-bc3c-9ad3c4ce62b3" message="#['\nMessage: ' ++ payload]"/>
	</flow>
	<sub-flow name="subflow" doc:id="b04f3bd4-1031-4df1-a0ad-d8b8e587b2eb" >
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="2004a564-40e0-4c81-aac7-db66e8e91a39" variableName="firstName" />
		<set-payload value="Hello" doc:name="Hello" doc:id="2d3c5cb3-4428-4845-9750-80f40d759d53" />
	</sub-flow>
	<flow name="goodbyeFLow" doc:id="3e6706ba-7dbc-4acd-b83e-ae601322deb0" >
		<vm:listener queueName="goodbye" doc:name="VM goodbye" doc:id="1091a4bd-fb26-4679-bd0d-1c77bd739777" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="b84ba46c-59b7-45e7-82b4-ce5098664d2c" />
		<logger level="INFO" doc:name="fullName" doc:id="c626193c-e3d0-4145-b123-9964b34f5a72" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
